@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0 !important; /* @todo: weird HeadlessUI anchor behavior adding padding to html */
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: "transparent";
  border-color: "transparent";
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  margin: 0 20px;
}

body {
  margin: 0 !important;
}

.customHtml {
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.customHtml ol,
.customHtml ul {
  list-style: initial; /* Usa o estilo de lista padrão */
  margin-left: 40px; /* Adiciona uma margem à esquerda para indentação */
}

.customHtml li {
  list-style: initial; /* Usa o estilo de lista padrão */
  margin-bottom: 10px; /* Adiciona um espaço abaixo de cada item da lista */
}
